<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1598},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1558},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>fenxiang_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1942},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>fxpengyouquan_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1852},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>fxpuq_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,862},{128,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,25}}</string>
                <key>sourceSize</key>
                <string>{128,25}</string>
            </dict>
            <key>fxweixin_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1852},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>fxwx_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,992},{102,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,25}}</string>
                <key>sourceSize</key>
                <string>{102,25}</string>
            </dict>
            <key>gonggao_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1852},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1897},{173,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,43}}</string>
                <key>sourceSize</key>
                <string>{173,43}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{858,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,392}}</string>
                <key>sourceSize</key>
                <string>{858,392}</string>
            </dict>
            <key>qiehuan_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1380},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>shezhi_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1019},{101,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,38}}</string>
                <key>sourceSize</key>
                <string>{101,38}</string>
            </dict>
            <key>szannie_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1776},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>szshurukuang1_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1059},{279,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,76}}</string>
                <key>sourceSize</key>
                <string>{279,76}</string>
            </dict>
            <key>szshurukuang_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{514,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,76}}</string>
                <key>sourceSize</key>
                <string>{514,76}</string>
            </dict>
            <key>szxuanzhe_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{500,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,24}}</string>
                <key>sourceSize</key>
                <string>{500,24}</string>
            </dict>
            <key>szxuanzhe_bj_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{500,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,24}}</string>
                <key>sourceSize</key>
                <string>{500,24}</string>
            </dict>
            <key>szyinyue_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1942},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>szyinyue_ok_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1942},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>wanfa_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1852},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>wenxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1852},{173,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,43}}</string>
                <key>sourceSize</key>
                <string>{173,43}</string>
            </dict>
            <key>wfdikuang_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{858,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,547}}</string>
                <key>sourceSize</key>
                <string>{858,547}</string>
            </dict>
            <key>xgima_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1340},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>xinxi_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>yaoqing_Page.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,992},{386,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,48}}</string>
                <key>sourceSize</key>
                <string>{386,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallPage.png</string>
            <key>size</key>
            <string>{551,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d761b3a12527e62fb997aae556bdf5c$</string>
            <key>textureFileName</key>
            <string>HallPage.png</string>
        </dict>
    </dict>
</plist>
