<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,904},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>1_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1206},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>2_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1143},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>3_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,847},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>4_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1116},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>5_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1053},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>6_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,755},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>7_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1296},{146,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,87}}</string>
                <key>sourceSize</key>
                <string>{146,87}</string>
            </dict>
            <key>8_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1233},{146,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,87}}</string>
                <key>sourceSize</key>
                <string>{146,87}</string>
            </dict>
            <key>9_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,937},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>btn_HClub.join_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{241,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,86}}</string>
                <key>sourceSize</key>
                <string>{241,86}</string>
            </dict>
            <key>btn_cj_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>btn_sure_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>chongzhi_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1026},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>cjlm_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,687},{158,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>del_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,606},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>jrlm_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{244,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>jrlmkuang_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1322},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>julianmen_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,512},{173,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,43}}</string>
                <key>sourceSize</key>
                <string>{173,43}</string>
            </dict>
            <key>lianmensaishi_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{370,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,81}}</string>
                <key>sourceSize</key>
                <string>{370,81}</string>
            </dict>
            <key>shurukuang_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{515,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,87}}</string>
                <key>sourceSize</key>
                <string>{515,87}</string>
            </dict>
            <key>touxiangkuang_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,512},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>wodelianmeng_HClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,425}}</string>
                <key>sourceSize</key>
                <string>{383,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallClub.png</string>
            <key>size</key>
            <string>{387,1401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9d20bef1593875cd394bacef477c889$</string>
            <key>textureFileName</key>
            <string>HallClub.png</string>
        </dict>
    </dict>
</plist>
