<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,375},{78,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,48}}</string>
                <key>sourceSize</key>
                <string>{78,48}</string>
            </dict>
            <key>bcbm_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,375},{143,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,106}}</string>
                <key>sourceSize</key>
                <string>{143,106}</string>
            </dict>
            <key>brjj_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,970},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>chongzhi_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{232,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,76}}</string>
                <key>sourceSize</key>
                <string>{232,76}</string>
            </dict>
            <key>dgn_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,877},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>dibu_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,76}}</string>
                <key>sourceSize</key>
                <string>{1280,76}</string>
            </dict>
            <key>dzpk_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,863},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>fanhui_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,236},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,984},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>huodong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1077},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>jb_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1241},{179,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,40}}</string>
                <key>sourceSize</key>
                <string>{179,40}</string>
            </dict>
            <key>kaishe_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{190,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,76}}</string>
                <key>sourceSize</key>
                <string>{190,76}</string>
            </dict>
            <key>kouzhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1077},{143,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,103}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>nn_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,770},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>pdk_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,756},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>qb_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,663},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>qianbao_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1159},{53,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,68}}</string>
                <key>sourceSize</key>
                <string>{53,68}</string>
            </dict>
            <key>sg_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,649},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>sgbjh_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,556},{143,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{143,105}</string>
            </dict>
            <key>shuaxin_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1222},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>tixian_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,194},{179,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,76}}</string>
                <key>sourceSize</key>
                <string>{179,76}</string>
            </dict>
            <key>tongji_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1077},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>tongzhi_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{522,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,38}}</string>
                <key>sourceSize</key>
                <string>{522,38}</string>
            </dict>
            <key>tuandui_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,320},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>xuanzhe_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1075},{164,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,48}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>xuanzhe_ok_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,909},{164,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,48}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>xuanzhong_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,526},{159,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,121}}</string>
                <key>sourceSize</key>
                <string>{159,121}</string>
            </dict>
            <key>yousahng_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,649},{258,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,43}}</string>
                <key>sourceSize</key>
                <string>{258,43}</string>
            </dict>
            <key>zengsong_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,455},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>zhankuang_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1148},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>zhuanshu_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1159},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>zuoce_ClubHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{157,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,552}}</string>
                <key>sourceSize</key>
                <string>{157,552}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Clubhall.png</string>
            <key>size</key>
            <string>{437,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc9f1f210ab3631178513943fbe5fbf$</string>
            <key>textureFileName</key>
            <string>Clubhall.png</string>
        </dict>
    </dict>
</plist>
