<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bairen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,370},{538,366}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{538,366}}</string>
                <key>sourceSize</key>
                <string>{572,388}</string>
            </dict>
            <key>bairen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,370},{538,366}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{538,366}}</string>
                <key>sourceSize</key>
                <string>{572,388}</string>
            </dict>
            <key>bairen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{538,366}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{538,366}}</string>
                <key>sourceSize</key>
                <string>{572,388}</string>
            </dict>
            <key>bairen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{540,364}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{540,364}}</string>
                <key>sourceSize</key>
                <string>{572,388}</string>
            </dict>
            <key>bairen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,352}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{548,352}}</string>
                <key>sourceSize</key>
                <string>{572,388}</string>
            </dict>
            <key>biaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1458},{110,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{110,26}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1570},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>head_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1494},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>pao_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1494},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>putong10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1778},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1570},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1362},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1154},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1802},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1442},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1098},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1082},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,738},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,722},{358,180}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,35},{358,180}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,946},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,738},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>putong8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{358,206}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{358,206}}</string>
                <key>sourceSize</key>
                <string>{372,240}</string>
            </dict>
            <key>table_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1458},{150,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,34}}</string>
                <key>sourceSize</key>
                <string>{150,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ClubTalbe.png</string>
            <key>size</key>
            <string>{1092,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305a567b80aefd575c353578ac209e38$</string>
            <key>textureFileName</key>
            <string>ClubTalbe.png</string>
        </dict>
    </dict>
</plist>
