<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bm_btn_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1276},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>bm_btn_qb.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1313},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>bm_btn_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,749},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>bm_btn_qx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,767},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>bm_btn_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1359},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>bm_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1076},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>bm_btnz_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,909},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bm_btnz_qx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1313},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bm_btnz_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1246},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bm_btnz_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1132},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bm_cmbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1210},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>bm_cmxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,948},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>bm_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{763,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,46}}</string>
                <key>sourceSize</key>
                <string>{763,46}</string>
            </dict>
            <key>bm_jb_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{181,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,42}}</string>
                <key>sourceSize</key>
                <string>{181,42}</string>
            </dict>
            <key>bm_jb_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1023},{130,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,32}}</string>
                <key>sourceSize</key>
                <string>{130,32}</string>
            </dict>
            <key>bm_kexiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,948},{121,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,40}}</string>
                <key>sourceSize</key>
                <string>{121,40}</string>
            </dict>
            <key>bm_ksxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,324},{241,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,62}}</string>
                <key>sourceSize</key>
                <string>{241,62}</string>
            </dict>
            <key>bm_paomadeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,567},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bm_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1359},{89,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>bm_sz_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1244},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>bm_tb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1071},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>bm_tb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1204},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>bm_tb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1189},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>bm_tb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1129},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>bm_tb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,249},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>bm_tb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,185},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>bm_tb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1057},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>bm_tb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1259},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>bm_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1318},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>bm_tzxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{242,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,62}}</string>
                <key>sourceSize</key>
                <string>{242,62}</string>
            </dict>
            <key>bm_xiazhuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{641,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,108}}</string>
                <key>sourceSize</key>
                <string>{641,108}</string>
            </dict>
            <key>bm_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1313},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>bm_xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1364},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
            <key>bm_xutou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1360},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
            <key>bm_zhishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,651},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{320,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,38}}</string>
                <key>sourceSize</key>
                <string>{320,38}</string>
            </dict>
            <key>duzhuang_wenzkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,875},{144,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,71}}</string>
                <key>sourceSize</key>
                <string>{144,71}</string>
            </dict>
            <key>kongwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1132},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tankuang_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1373},{187,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,47}}</string>
                <key>sourceSize</key>
                <string>{187,47}</string>
            </dict>
            <key>tankuang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{464,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,602}}</string>
                <key>sourceSize</key>
                <string>{464,602}</string>
            </dict>
            <key>tankuang_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,602}}</string>
                <key>sourceSize</key>
                <string>{776,602}</string>
            </dict>
            <key>tankuang_liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{352,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,97}}</string>
                <key>sourceSize</key>
                <string>{352,97}</string>
            </dict>
            <key>touxaingkuang_zhuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,606},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>touxaingkuangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1057},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xuanzhong_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,606},{229,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,188}}</string>
                <key>sourceSize</key>
                <string>{229,188}</string>
            </dict>
            <key>xuanzhong_you1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,645},{228,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,185}}</string>
                <key>sourceSize</key>
                <string>{228,185}</string>
            </dict>
            <key>xuanzhong_you2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1173},{230,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,184}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>xuanzhong_zuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,986},{228,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,185}}</string>
                <key>sourceSize</key>
                <string>{228,185}</string>
            </dict>
            <key>xuanzhong_zuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,796},{227,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,188}}</string>
                <key>sourceSize</key>
                <string>{227,188}</string>
            </dict>
            <key>zijixiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1132},{142,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,46}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bcbm.png</string>
            <key>size</key>
            <string>{1022,1427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed90182cc63db6f61c7f3adba728d81$</string>
            <key>textureFileName</key>
            <string>Bcbm.png</string>
        </dict>
    </dict>
</plist>
