<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,240},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,420},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,885},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>b100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,741},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>b1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,531},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>b200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,422},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>b50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,531},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>b500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,422},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>b_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,759},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>b_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,466},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>b_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,246},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
            <key>b_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,460},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
            <key>b_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,246},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>b_xia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,98},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>bb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,646},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bb100.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,872},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bb1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,713},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bb2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,751},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bb50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,490},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bb500.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,528},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,646},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh100.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,758},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,532},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,418},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh50.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,758},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bbh500.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,903},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,535},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>bh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,424},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>bh100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,531},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>bh1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,865},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>bh200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,827},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>bh50.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,642},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>bh500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,604},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,107}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{724,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,79}}</string>
                <key>sourceSize</key>
                <string>{724,79}</string>
            </dict>
            <key>brshezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,923},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>btn_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,846},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>btn_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,246},{149,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,53}}</string>
                <key>sourceSize</key>
                <string>{149,53}</string>
            </dict>
            <key>btn_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,111},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,246},{150,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>cm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm100.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,341},{110,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,123}}</string>
                <key>sourceSize</key>
                <string>{110,123}</string>
            </dict>
            <key>cm1000b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{110,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,123}}</string>
                <key>sourceSize</key>
                <string>{110,123}</string>
            </dict>
            <key>cm100b.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,760},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,760},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>cm500.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,903},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>cm500b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>cmm10.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,302},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm100.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,301},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,300},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm1000bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,114},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm100bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,122},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm10bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,122},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,122},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm2000bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,122},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm50.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,122},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm500.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,885},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm500bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,885},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>cmm50bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,760},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,841},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>dafuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,302},{113,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,57}}</string>
                <key>sourceSize</key>
                <string>{113,57}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{437,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,437}}</string>
                <key>sourceSize</key>
                <string>{437,437}</string>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,850},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>m10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,741},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>m100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,741},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>m1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,640},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>m500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,640},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>mun_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,631},{126,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>mun_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,872},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>onle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,238},{92,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>qianbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,936},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>qxsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,414},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>retrun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,315},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>selectg.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,631},{336,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,127}}</string>
                <key>sourceSize</key>
                <string>{336,127}</string>
            </dict>
            <key>shensuanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,300},{116,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,63}}</string>
                <key>sourceSize</key>
                <string>{116,63}</string>
            </dict>
            <key>sqsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,308},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>sqzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,306},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,640},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tx_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,950},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tx_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,901},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wanjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,846},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{347,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,134}}</string>
                <key>sourceSize</key>
                <string>{347,134}</string>
            </dict>
            <key>yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,111},{347,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,134}}</string>
                <key>sourceSize</key>
                <string>{347,134}</string>
            </dict>
            <key>yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{347,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,134}}</string>
                <key>sourceSize</key>
                <string>{347,134}</string>
            </dict>
            <key>zhuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{775,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{775,107}}</string>
                <key>sourceSize</key>
                <string>{793,107}</string>
            </dict>
            <key>zijidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,111},{228,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,108}}</string>
                <key>sourceSize</key>
                <string>{228,108}</string>
            </dict>
            <key>zoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,414},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>zoushib.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BrPublic.png</string>
            <key>size</key>
            <string>{1500,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e57c980b2bfa8d0268dee056cb4a62$</string>
            <key>textureFileName</key>
            <string>BrPublic.png</string>
        </dict>
    </dict>
</plist>
