<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>card_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>ndjj_bcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,798},{144,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{144,197}</string>
            </dict>
            <key>ndjj_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,798},{72,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cards.png</string>
            <key>size</key>
            <string>{1692,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cf92400d21ec9ca28fc77b64fb1cce$</string>
            <key>textureFileName</key>
            <string>Cards.png</string>
        </dict>
    </dict>
</plist>
