<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5TH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,201},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>5TH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,160},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>ani_baiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,51},{145,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,197}}</string>
                <key>sourceSize</key>
                <string>{145,197}</string>
            </dict>
            <key>ani_laizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,51},{126,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,65}}</string>
                <key>sourceSize</key>
                <string>{126,65}</string>
            </dict>
            <key>ani_laizi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,236}}</string>
                <key>sourceSize</key>
                <string>{414,236}</string>
            </dict>
            <key>btn_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,73},{154,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,73}}</string>
                <key>sourceSize</key>
                <string>{154,73}</string>
            </dict>
            <key>btn_bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,137},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,148},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_cuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{160,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>btn_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,148},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_fp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{160,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>btn_tz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,73},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>buqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,73},{154,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,73}}</string>
                <key>sourceSize</key>
                <string>{154,73}</string>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,197},{107,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,50}}</string>
                <key>sourceSize</key>
                <string>{107,50}</string>
            </dict>
            <key>buqiangzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,148},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>butuizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,197},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>image_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,135},{202,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
            <key>ketui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,160},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,51},{214,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{214,82}}</string>
                <key>sourceSize</key>
                <string>{238,100}</string>
            </dict>
            <key>number.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{160,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,201},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>qx0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,148},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>qx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>qx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,212},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>qx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,212},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>qx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,212},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>qx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,212},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>sg_gold_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,179},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{430,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,47}}</string>
                <key>sourceSize</key>
                <string>{430,47}</string>
            </dict>
            <key>tuizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,212},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>xlaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,73},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cows.png</string>
            <key>size</key>
            <string>{1383,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6410040d6333744442014426ba3e358$</string>
            <key>textureFileName</key>
            <string>Cows.png</string>
        </dict>
    </dict>
</plist>
