<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1699},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1605},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>btn_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_guopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>btn_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1058},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1036},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>choumacidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{107,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,40}}</string>
                <key>sourceSize</key>
                <string>{107,40}</string>
            </dict>
            <key>choumadui.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1118},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>choumanan.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1140},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,60}}</string>
                <key>sourceSize</key>
                <string>{688,60}</string>
            </dict>
            <key>img_damanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>img_dzpx_b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,855},{97,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,55}}</string>
                <key>sourceSize</key>
                <string>{97,55}</string>
            </dict>
            <key>img_dzpx_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{111,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>img_dzpx_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,641},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>img_dzpx_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,414},{112,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,57}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>img_dzpx_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{97,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,56}}</string>
                <key>sourceSize</key>
                <string>{97,56}</string>
            </dict>
            <key>img_dzpx_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,300},{112,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,57}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>img_dzpx_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,755},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>img_dzpx_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,528},{111,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,57}}</string>
                <key>sourceSize</key>
                <string>{111,57}</string>
            </dict>
            <key>img_dzpx_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>img_dzpx_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{142,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,57}}</string>
                <key>sourceSize</key>
                <string>{142,57}</string>
            </dict>
            <key>img_gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1268},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_gong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1213},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_gong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_gong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1158},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>img_xiaomanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,954},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,954},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>yqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,146},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dz.png</string>
            <key>size</key>
            <string>{126,1793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aa0378957efdc3808853def3791e048$</string>
            <key>textureFileName</key>
            <string>Dz.png</string>
        </dict>
    </dict>
</plist>
