<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gcowbtn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>gameicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{190,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,36}}</string>
                <key>sourceSize</key>
                <string>{190,36}</string>
            </dict>
            <key>gcowbtn_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{233,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,83}}</string>
                <key>sourceSize</key>
                <string>{233,83}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,162},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,162},{259,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,75}}</string>
                <key>sourceSize</key>
                <string>{259,75}</string>
            </dict>
            <key>wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,210},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>xzbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,110}}</string>
                <key>sourceSize</key>
                <string>{808,110}</string>
            </dict>
            <key>xzf.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,180},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>xzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,114},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{126,64}</string>
            </dict>
            <key>xzsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{327,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,46}}</string>
                <key>sourceSize</key>
                <string>{327,46}</string>
            </dict>
            <key>xzszz.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,114},{327,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,46}}</string>
                <key>sourceSize</key>
                <string>{327,46}</string>
            </dict>
            <key>xzxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{327,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,46}}</string>
                <key>sourceSize</key>
                <string>{327,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gcow.png</string>
            <key>size</key>
            <string>{982,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b967efd9f6b3fcdd0f9ff70410668e5d$</string>
            <key>textureFileName</key>
            <string>Gcow.png</string>
        </dict>
    </dict>
</plist>
