<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1163},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,840},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,323},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>b_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{155,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,63}}</string>
                <key>sourceSize</key>
                <string>{155,63}</string>
            </dict>
            <key>b_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{230,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,81}}</string>
                <key>sourceSize</key>
                <string>{230,81}</string>
            </dict>
            <key>bgtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,451},{209,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,92}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>bgtou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,829},{108,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,148}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>bgtou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{163,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,81}}</string>
                <key>sourceSize</key>
                <string>{163,81}</string>
            </dict>
            <key>biaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{534,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,89}}</string>
                <key>sourceSize</key>
                <string>{534,89}</string>
            </dict>
            <key>biaoer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{534,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,89}}</string>
                <key>sourceSize</key>
                <string>{534,89}</string>
            </dict>
            <key>btn_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1049},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,912},{168,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,91}}</string>
                <key>sourceSize</key>
                <string>{168,91}</string>
            </dict>
            <key>btn_gedaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1013},{87,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,30}}</string>
                <key>sourceSize</key>
                <string>{87,30}</string>
            </dict>
            <key>btn_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1138},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_huigu.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1134},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>btn_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1056},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_nbq.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1011},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>btn_nxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,986},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>btn_nz.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,979},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>btn_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1011},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>btn_wf.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,724},{114,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,46}}</string>
                <key>sourceSize</key>
                <string>{114,46}</string>
            </dict>
            <key>btnguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,960},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1081},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>choumacidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,604},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
            <key>choumadui.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,369},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>choumanan.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,977},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,857},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>fanhuidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,604},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,124},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,38}}</string>
                <key>sourceSize</key>
                <string>{159,38}</string>
            </dict>
            <key>game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,164},{159,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,36}}</string>
                <key>sourceSize</key>
                <string>{159,36}</string>
            </dict>
            <key>game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,202},{159,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,35}}</string>
                <key>sourceSize</key>
                <string>{159,35}</string>
            </dict>
            <key>game_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>game_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{259,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,38}}</string>
                <key>sourceSize</key>
                <string>{259,38}</string>
            </dict>
            <key>game_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{179,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,37}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>gou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1088},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>gth.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,912},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{177,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{177,94}}</string>
                <key>sourceSize</key>
                <string>{183,98}</string>
            </dict>
            <key>guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{120,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{120,160}</string>
            </dict>
            <key>guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,658},{224,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,106}}</string>
                <key>sourceSize</key>
                <string>{224,106}</string>
            </dict>
            <key>gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,753},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>img_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1150},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>img_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,239},{170,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>jiesuan_.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,359},{20,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,12}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>jiesuan_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,545},{22,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>latiao_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,369},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>latiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{652,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,82}}</string>
                <key>sourceSize</key>
                <string>{652,82}</string>
            </dict>
            <key>latiao_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1022},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
            <key>latiao_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,431},{475,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,18}}</string>
                <key>sourceSize</key>
                <string>{475,18}</string>
            </dict>
            <key>latiao_td.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,411},{475,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,18}}</string>
                <key>sourceSize</key>
                <string>{475,18}</string>
            </dict>
            <key>latiao_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,575},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>me_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,679},{207,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{207,88}}</string>
                <key>sourceSize</key>
                <string>{223,104}</string>
            </dict>
            <key>me_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{223,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,104}}</string>
                <key>sourceSize</key>
                <string>{223,104}</string>
            </dict>
            <key>mebaopaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,239},{313,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,60}}</string>
                <key>sourceSize</key>
                <string>{313,60}</string>
            </dict>
            <key>new_cuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,575},{230,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,81}}</string>
                <key>sourceSize</key>
                <string>{230,81}</string>
            </dict>
            <key>new_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{232,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,81}}</string>
                <key>sourceSize</key>
                <string>{232,81}</string>
            </dict>
            <key>noNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1056},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>online.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,301},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1005},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{167,78}}</string>
                <key>sourceSize</key>
                <string>{183,94}</string>
            </dict>
            <key>other_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,915},{183,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,94}}</string>
                <key>sourceSize</key>
                <string>{183,94}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,912},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>pao_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,895},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>poker_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,766},{144,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{144,197}</string>
            </dict>
            <key>poker_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,766},{144,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{144,197}</string>
            </dict>
            <key>poker_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,769},{144,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{144,197}</string>
            </dict>
            <key>poker_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,620},{144,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,197}}</string>
                <key>sourceSize</key>
                <string>{144,197}</string>
            </dict>
            <key>qiangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,545},{216,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,73}}</string>
                <key>sourceSize</key>
                <string>{216,73}</string>
            </dict>
            <key>san.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1150},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>settele.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,766},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>tetle_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,505},{253,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,68}}</string>
                <key>sourceSize</key>
                <string>{253,68}</string>
            </dict>
            <key>tishidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,301},{294,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,42}}</string>
                <key>sourceSize</key>
                <string>{294,42}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1223},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>touxiangzhuangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1049},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1220},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tubiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,817},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>tx_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1272},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tx_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1210},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>wanfa_telte.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,345},{109,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,43}}</string>
                <key>sourceSize</key>
                <string>{109,43}</string>
            </dict>
            <key>wanfadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{858,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,235}}</string>
                <key>sourceSize</key>
                <string>{858,235}</string>
            </dict>
            <key>yjjx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1081},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zby.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,723},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1182},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>zhankai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,998},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>zhankai_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,912},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,72}</string>
            </dict>
            <key>zhankai_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,411},{132,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,2}}</string>
                <key>sourceSize</key>
                <string>{132,2}</string>
            </dict>
            <key>zongjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,345},{183,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,63}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>zongjiesuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,451},{261,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,151}}</string>
                <key>sourceSize</key>
                <string>{261,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Public.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7007851be44ab81b0f3446bd4bbd3f9b$</string>
            <key>textureFileName</key>
            <string>Public.png</string>
        </dict>
    </dict>
</plist>
